<div class='card'>
  <div class='card-header'>
    Lista Produktów
  </div>
  <div class="card-body">
    <div class='row'>
      <div class='col-md-2'>Filtruj według:</div>
      <div class='col-md-4'>
        <input type='text' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtruj według: </h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary'>
              Pokaż zdjęcie
            </button>
          </th>
          <th>Produkt</th>
          <th>Kod</th>
          <th>Dostępność</th>
          <th>Cena</th>
          <th>Ranking</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
